## Fizz Buzz Sum

Write a function `fizz_buzz_sum` to find the sum of all multiples of 3 or 5 below a target value.

For example, if the target value was 10, the multiples of 3 or 5 below 10 are 3, 5, 6, and 9.

Because 3+5+6+9=23, our function would return 23.

In [50]:
def fizz_buzz_sum(target):
    return sum([i for i in range(1,target) if i%3==0 or i%5==0])

In [53]:
fizz_buzz_sum(500)

57918

## Roman to numeral

Given a valid Roman numeral, convert it to an integer.

In [113]:
def RomanToInteger(target:str) -> int:
    conv_dict = {
    'I': 1,
    'IV': 4,
    'V': 5,
    'IX': 9,
    'X': 10,
    'XL': 40,
    'L': 50,
    'XC': 90,
    'C': 100,
    'CD': 400,
    'D': 500,
    'CM': 900,
    'M': 1000
    }
    var_list = list(target)
    new_list = [] 
    while len(var_list)>0:
        try:
            new_list.append(conv_dict[var_list[-2]+var_list[-1]])
            del var_list[-2:]
        except:
            new_list.append(conv_dict[var_list[-1]])
            del var_list[-1:]
    else:
        return(sum(new_list))

In [115]:
RomanToInteger('XXVIII')

28

## Counting letters in numbers
If the numbers from 1 to N are written out in words (e.g., "one", "two", "three", "four", etc.), how many letters are used in total when writing all numbers between 1 and N (inclusive)?
While writing the words, follow these rules:
- Do not count spaces or hyphens.
- British usage applies (we're fancy like that): for numbers over 100, include "and" (e.g., "one hundred and fifteen").

In [ ]:
number_list = ['one', 'two', 'three']